<!-- Add to Cart - START -->
<!-- add to cart options start -->
<tr id="nsOptions">
  <td>
    <table>
    <%=getAddToCartOptions()%> 
   </table>
  </td>
</tr>
<!-- add to cart options end -->

<tr id="addToCart">
  <td nowrap="nowrap" align='left' valign="middle" colspan="1" width='100%'>

    <table border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td id = "Qty" valign="middle">Qty:</td>
        <td id = "inputQty" valign="bottom"><NLADDTOCARTQUANTITY></td>
        <td valign="bottom"><input type="button" value="Add To Cart" onclick="callFacebookPixel(); <%=getCurrentAttribute('item','addtocartclickscript')%>"  /></td>
        <td>
          <NLADDTOCARTITEMID>
        </td>
        <td valign="bottom">
          <div id="hint_div">
            <button id="send_hint" onclick="hint_fancy()" class="fancybox">Send A Hint</button>
            <div id="send_hints" style="display:none">
              <SEND_A_HINT>                    
            </div>
          </div>
        </td>
      </tr>
    </table>
  </td>
</tr>
<!-- Add to Cart - END -->

<script>
 var itemType='<%=getCurrentAttribute("item", "itemtype")%>';
if(itemType == 'GiftCert'){
  jQuery("#Qty").hide();
  jQuery("#inputQty").hide();
  var screenWidth= jQuery(window).width();

  if (screenWidth <= 767 || (screenWidth>=768 && screenWidth<=967)) {
    console.log('cart'+screenWidth);
    jQuery("#Qty").addClass("qtyCart");
    jQuery("#inputQty").addClass("inputqtyCart");
     
  }

}
else{
jQuery( "#qty" ).change(function() {
var quantity = jQuery( "#qty" ).val();
console.log('in count');
    if(quantity<"1"){
     // console.log('in count');
       jQuery( "#qty" ).val("1");
   }
});
}

</script>